<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HandsOn_servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>exhibition</servlet-name>
    <servlet-class>com.hcl.Exhibition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhibition</servlet-name>
    <url-pattern>/Exhibition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stageshow</servlet-name>
    <servlet-class>com.hcl.StageShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stageshow</servlet-name>
    <url-pattern>/StageShow</url-pattern>
  </servlet-mapping>
</web-app>