body {
    background-color: darkgrey;
}
#main {
    text-align: center;

}
#events{
    text-align: center;
   
   
    
}
#events li{
 text-align: left;
 padding-left: 45%;
}
#input{
    border-radius: 3px;
}
button {
    border-radius: 10px;
}
button:hover {
    background-color: bisque;
    color: darkblue;
}
